<h1 class="text-center">Ajustes tablas parametricas</h1>
<div class="row">	
	<div class="card col-12 mt-2">
	  <div class="card-body">
	    <h5 class="card-title">Generales</h5>
	    <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/cities']">Ciudades</a>
		    </li>
	    </ul>
	  </div>
	</div>

	<div class="card col-12 mt-2">
	  <div class="card-body">
	    <h5 class="card-title">Accidentes y ausentismos</h5>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/event-types']">Tipos de evento</a>
		    </li>		  	
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/accident-types']">Tipos de accidente</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/disability-diagnosis']">Diagnosticos</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/injury-types']">Tipos de lesión</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/body-parts']">Partes del cuerpo</a>
		    </li>		    
		  </ul>
	  </div>
	</div>

	<div class="card col-12 mt-2">
	  <div class="card-body">
	    <h5 class="card-title">Indicadores</h5>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/indicator-types']">Tipos de indicador</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/source-information']">Fuentes de información</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/survey-questions']">Preguntas de la encuesta</a>
		    </li>		    
		  </ul>
	  </div>
	</div>

	<div class="card col-12 mt-2">
		<div class="card-body">
			<h5 class="card-title">Empresas</h5>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a [routerLink]="['/settings/contract-types']">Tipos de contrato</a>
				</li>
				<li class="list-group-item">
					<a [routerLink]="['/settings/departments']">Departamentos de las empresas</a>
				</li>				
			</ul>
		</div>
	</div>

	<div class="card col-12 mt-2">
	  <div class="card-body">
	    <h5 class="card-title">Actividades</h5>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/evaluation-systems']">Sistemas de evaluación</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/instructor-suitability']">Idoneidades instructor</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/compliance-evidences']">Evidencias de cumplimiento</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/frecuencys']">Frecuencias</a>
		    </li>	
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/resource-types']">Tipos de recursos</a>
		    </li>
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/responsability-types']">Tipos de responsabilidad</a>
		    </li>	
		    <li class="list-group-item">
		    	<a [routerLink]="['/settings/activity-types']">Tipos de actividad</a>
		    </li>			    	    			    	    
		  </ul>
	  </div>
	</div>	

</div>