<h1 class="text-center">Tipos de eventos</h1>
<div class="row mt-5">
	<div class="col-6">
		<h2>Eventos actuales</h2>
		<table class="table table-striped table-hover table-bordered">
			<thead class="thead-dark">
				<th scope="col">ID</th>
				<th scope="col">Descripción</th>
				<th scope="col">Editar</th>
			</thead>
			<tbody>
				<tr *ngFor="let evento of tiposEvento">
					<td>{{evento.id}}</td>
					<td>{{evento.descripcionTipoEvento}}</td>
					<td><button class="btn btn-sm btn-warning" (click)="select(evento)"><fa-icon [icon]="['fas','edit']"></fa-icon></button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-6">
		<h2>{{title}}</h2>
		<div class="card">
			<div class="card-body">
				<form>
					<div class="form-group">
						<label>ID</label>
						<input class="form-control" type="number" name="id" [(ngModel)]="tipoEvento.id" disabled>
					</div>
					<div class="form-group">
						<label>Descripción tipo evento</label>
						<input class="form-control" type="text" name="desc" [(ngModel)]="tipoEvento.descripcionTipoEvento">
					</div>
					<button class="btn btn-sm btn-primary mr-3" (click)="create(tipoEvento)">{{title}}</button>	
					<button class="btn btn-sm btn-danger" (click)="cancel()">Cancelar</button>		
				</form>
			</div>
		</div>
	</div>	
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div *ngIf="error" class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
  <strong>Error</strong> <p>{{messageError}}</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error = false;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>