<h1 class="text-center">Tipos de accidente</h1>
<div class="row mt-5">
	<div class="col-6">
		<h2>Tipos de accidente actuales</h2>
		<table class="table table-striped table-hover table-bordered">
			<thead class="thead-dark">
				<th scope="col">ID</th>
				<th scope="col">Descripción</th>
				<th scope="col">Editar</th>
			</thead>
			<tbody>
				<tr *ngFor="let accidente of tiposAccidente">
					<td>{{accidente.idTipoAccidente}}</td>
					<td>{{accidente.descripcionTipoAccidente}}</td>
					<td><button class="btn btn-sm btn-warning" (click)="select(accidente)"><fa-icon [icon]="['fas','edit']"></fa-icon></button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-6">
		<h2>{{title}}</h2>
		<div class="card">
			<div class="card-body">
				<form>
					<div class="form-group">
						<label>ID</label>
						<input class="form-control" type="number" name="id" [(ngModel)]="tipoAccidente.idTipoAccidente" disabled>
					</div>
					<div class="form-group">
						<label>Descripción tipo accidente</label>
						<input class="form-control" type="text" name="desc" [(ngModel)]="tipoAccidente.descripcionTipoAccidente">
					</div>
					<button class="btn btn-sm btn-primary mr-3" (click)="create(tipoAccidente)">{{title}}</button>	
					<button class="btn btn-sm btn-danger" (click)="cancel()">Cancelar</button>		
				</form>
			</div>
		</div>
	</div>	
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>