<h1 class="text-center">Ciudades</h1>
<div class="row mt-5">
	<div class="col-6">
		<h2>Ciudades</h2>
		<table class="table table-striped table-hover table-bordered">
			<thead class="thead-dark">
				<th scope="col">ID</th>
				<th scope="col">Descripción</th>
				<th scope="col">Editar</th>
			</thead>
			<tbody>
				<tr *ngFor="let ciudad of ciudades">
					<td>{{ciudad.id}}</td>
					<td>{{ciudad.nombreCiudad}}</td>
					<td><button class="btn btn-sm btn-warning" (click)="selectCiudad(ciudad)"><fa-icon [icon]="['fas','edit']"></fa-icon></button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-6">
		<h2>{{title}}</h2>
		<div class="card">
			<div class="card-body">
				<form>
					<div class="form-group">
						<label>ID</label>
						<input class="form-control" type="number" name="id" [(ngModel)]="ciudad.id" disabled>
					</div>
					<div class="form-group">
						<label>Nombre ciudad</label>
						<input class="form-control" type="text" name="desc" [(ngModel)]="ciudad.nombreCiudad">
					</div>
					<button class="btn btn-sm btn-primary mr-3" (click)="create(ciudad)">{{title}}</button>	
					<button class="btn btn-sm btn-danger" (click)="cancel()">Cancelar</button>		
				</form>
			</div>
		</div>
	</div>	
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>	